---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import Post from "@layouts/partials/Post.astro";
import PostList from "@layouts/PostList.astro";
import taxonomyFilter from "@lib/utils/taxonomyFilter";
import { getSinglePage } from "@lib/contentParser.astro";
import { sortByDate } from "@lib/utils/sortFunctions";
import { getTaxonomy } from "@lib/taxonomyParser.astro";
import type { GetStaticPathsOptions, Page } from "astro";
import type { CollectionEntry } from "astro:content";

export const getStaticPaths = async ({ paginate }: GetStaticPathsOptions) => {
  const { blog_folder, pagination } = config.settings;
  const pages = await getSinglePage(blog_folder);
  const posts = sortByDate(pages);

  const categories = await getTaxonomy(blog_folder, "categories");
  return categories.map((category) => {
    const filterByTags = taxonomyFilter(posts, "categories", category);
    return paginate(filterByTags, {
      params: { category: category || "" },
      pageSize: pagination,
    });
  });
};

type Props = { page: Page };
const { page } = Astro.props;
const { category } = Astro.params;
---

<Base
  title={`${category} の記事一覧 | Page ${page.currentPage} of ${page.lastPage}`}
>
  <PostList>
    <h1 class="h2 pb-10">
      Posts related to <span class="text-primary">{category}</span> category
    </h1>
    {page.data.map((post: CollectionEntry<"posts">) => <Post post={post} />)}
    <Pagination
      section={`categories/${category}`}
      currentPage={page.currentPage}
      totalPages={page.lastPage}
    />
  </PostList>
</Base>
