---
import dateFormat from "@lib/utils/dateFormat";
import { humanize, slugify } from "@lib/utils/textConverter";
import { JSDOM } from "jsdom";
import { BiCalendarEdit } from "react-icons/bi";
import type { CollectionEntry } from "astro:content";

type Props = { post: CollectionEntry<"posts"> };
const { post } = Astro.props;

const jsdom = new JSDOM();
const parser = new jsdom.window.DOMParser();
---

<div
  class="card mb-12 wrap-break-word border-b border-border pb-7.5 dark:border-border-dark"
  itemscope="itemscope"
  itemtype="https://schema.org/BlogPosting"
  itemprop="blogPost"
>
  <h3 class="h4" itemprop="headline">
    <a
      href={`/archives/${post.data.postid}`}
      class="block font-normal text-primary hover:underline dark:text-primary-dark"
      >{post.data.title}</a
    >
  </h3>
  <ul
    class="mb-4 mt-1.5 inline-flex flex-wrap items-center gap-x-3 gap-y-1 text-text dark:text-text-dark"
  >
    <li class="flex flex-wrap items-center">
      <BiCalendarEdit className="mr-2" />
      <time datetime={dateFormat(post.data.date)} itemprop="datePublished"
        >{dateFormat(post.data.date, "yyyy-MM-dd")}</time
      >
    </li>
    <li>
      <ul>
        {
          post.data.categories.sort().map((category: string) => (
            <li class="mr-2 inline-block">
              {/* prettier-ignore */}
              <a href={`/categories/${slugify(category)}`} class="category">{humanize(category)}</a>
            </li>
          ))
        }
      </ul>
    </li>
  </ul>
  <p class="text-lg text-text dark:text-text-dark" itemprop="description">
    {
      parser.parseFromString(post.data.excerpt ?? "", "text/html")
        .documentElement.textContent
    }
  </p>
  <a
    class="mt-3 inline-block border-b border-primary py-1 text-[15px] leading-5.5 text-primary dark:border-primary-dark dark:text-primary-dark"
    href={`/archives/${post.data.postid}`}
    ><span class="sr-only">この記事の</span>続きを読む</a
  >
</div>
