---
import dateFormat from "@lib/utils/dateFormat";
import { humanize, slugify } from "@lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";

type Props = { post: CollectionEntry<"posts"> };
const { post } = Astro.props;
---

<div
  class="card mb-12 break-words border-b border-border pb-[30px]"
  itemscope="itemscope"
  itemtype="https://schema.org/BlogPosting"
  itemprop="blogPost"
>
  <h3 class="h4" itemprop="headline">
    <a
      href={`/archives/${post.data.postid}`}
      class="block font-normal text-primary hover:underline"
    >
      {post.data.title}
    </a>
  </h3>
  <ul class="mb-4 mt-1.5 flex flex-wrap items-center space-x-3 text-light">
    <li>
      <time datetime={dateFormat(post.data.date)} itemprop="datePublished"
        >{dateFormat(post.data.date, "DDD")}</time
      >
    </li>
    <li>
      <ul>
        {
          post.data.categories.map((category: string) => (
            <li class="mr-2 inline-block">
              {/* prettier-ignore */}
              <a href={`/categories/${slugify(category)}`} class="category">{humanize(category)}</a>
            </li>
          ))
        }
      </ul>
    </li>
  </ul>
  <p class="text-lg text-text" itemprop="description">
    {post.data.excerpt}
  </p>
  <a
    class="mt-3 inline-block border-b border-primary py-1 text-[15px] leading-[22px] text-primary"
    href={`/archives/${post.data.postid}`}>Read More</a
  >
</div>
