---
import dateFormat from "@lib/utils/dateFormat";
import { humanize, slugify } from "@lib/utils/textConverter";
import { JSDOM } from "jsdom";
import type { CollectionEntry } from "astro:content";

type Props = { post: CollectionEntry<"posts"> };
const { post } = Astro.props;

const jsdom = new JSDOM();
const parser = new jsdom.window.DOMParser();
---

<div
  class="card mb-12 break-words border-b border-border pb-[30px] dark:border-border-dark"
  itemscope="itemscope"
  itemtype="https://schema.org/BlogPosting"
  itemprop="blogPost"
>
  <h3 class="h4" itemprop="headline">
    <a
      href={`/archives/${post.data.postid}`}
      class="block font-normal text-primary hover:underline dark:text-primary-dark"
      >{post.data.title}</a
    >
  </h3>
  <ul
    class="mb-4 mt-1.5 inline-flex flex-wrap items-center gap-x-3 gap-y-1 text-text dark:text-text-dark"
  >
    <li class="flex flex-wrap items-center">
      <svg
        class="mr-2"
        stroke="currentColor"
        fill="currentColor"
        stroke-width="0"
        viewBox="0 0 24 24"
        height="1em"
        width="1em"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M19 4h-3V2h-2v2h-4V2H8v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zM5 20V7h14V6l.002 14H5z"
        ></path><path
          d="m15.628 12.183-1.8-1.799 1.37-1.371 1.8 1.799zm-7.623 4.018V18h1.799l4.976-4.97-1.799-1.799z"
        ></path></svg
      >
      <time datetime={dateFormat(post.data.date)} itemprop="datePublished"
        >{dateFormat(post.data.date, "yyyy-MM-dd")}</time
      >
    </li>
    <li>
      <ul>
        {
          post.data.categories.map((category: string) => (
            <li class="mr-2 inline-block">
              {/* prettier-ignore */}
              <a href={`/categories/${slugify(category)}`} class="category">{humanize(category)}</a>
            </li>
          ))
        }
      </ul>
    </li>
  </ul>
  <p class="text-lg text-text dark:text-text-dark" itemprop="description">
    {
      parser.parseFromString(post.data.excerpt ?? "", "text/html")
        .documentElement.textContent
    }
  </p>
  <a
    class="mt-3 inline-block border-b border-primary py-1 text-[15px] leading-[22px] text-primary dark:border-primary-dark dark:text-primary-dark"
    href={`/archives/${post.data.postid}`}>Read More</a
  >
</div>
