---
import Base from "@layouts/Base.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { sortByDate } from "@lib/utils/sortFunctions";
import dateFormat from "@lib/utils/dateFormat";

const posts = await getCollection("posts");
const sortPostByDate: CollectionEntry<"posts">[] = sortByDate(posts);

const tempSplitedPosts = [];
for (let year = new Date().getFullYear(); year >= 2013; year--) {
  tempSplitedPosts.push(
    sortPostByDate.filter(
      (post) => Number(dateFormat(post.data.date, "yyyy")) === year,
    ),
  );
}
const splitedPosts = tempSplitedPosts.filter((v) => v.length > 0);
---

<Base title="記事一覧" canonical="archives">
  <section class="section">
    <div class="container">
      <div class="sub-container">
        <div class="mx-auto lg:col-10">
          <div class="content py-4 md:py-12">
            <h1 class="h2 mb-8">記事一覧</h1>
            <ul class="list-none px-0">
              {
                splitedPosts.map((post) => {
                  const yearid = dateFormat(post[0].data.date, "yyyy");
                  // prettier-ignore
                  return (
                    <li class="inline-block">
                      <a href={`#year-${yearid}`} class="category">{yearid}</a>
                    </li>
                  );
                })
              }
            </ul>
            {
              splitedPosts.map((post) => {
                const yearid = dateFormat(post[0].data.date, "yyyy");
                return (
                  <>
                    <h2 id={`year-${yearid}`}>{yearid}</h2>
                    <ul class="list-none px-0">
                      {post.map((detail) => {
                        // prettier-ignore
                        return (
                          <li class="py-1">
                            <a href={`/archives/${detail.data.postid}`}>{detail.data.title}</a>
                            {" "}
                            {dateFormat(detail.data.date, "yyyy-MM-dd")}
                          </li>
                        );
                      })}
                    </ul>
                  </>
                );
              })
            }
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
