---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import Post from "@layouts/partials/Post.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import { getTaxonomy } from "@lib/taxonomyParser.astro";
import { sortByDate } from "@lib/utils/sortFunctions";
import taxonomyFilter from "@lib/utils/taxonomyFilter";
const { blog_folder, pagination } = config.settings;
export async function getStaticPaths() {
  const { blog_folder } = config.settings;
  const categories = await getTaxonomy(blog_folder, "categories");
  return categories.map((category) => {
    return {
      params: { category },
    };
  });
}
const { category } = Astro.params;
const allPosts = await getSinglePage(blog_folder);
const sortByDatePosts = sortByDate(allPosts);
const filterByTags = taxonomyFilter(sortByDatePosts, "categories", category);
const totalPages = Math.ceil(filterByTags.length / pagination);
---

<Base title={category}>
  <div class="section">
    <div class="container">
      <div class="row px-3">
        <div class="mx-auto px-0 lg:col-10">
          <div class="rounded px-9 py-8 md:p-[60px]">
            <h1 class="h2 pb-10">
              Posts related to <span class="text-primary">{category}</span> category
            </h1>
            {
              filterByTags
                .slice(0, pagination)
                .map((post) => <Post post={post} />)
            }
            <Pagination
              section={`categories/${category}`}
              currentPage={1}
              totalPages={totalPages}
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</Base>
