---
import dateFormat from "@lib/utils/dateFormat";
import { humanize, markdownify, slugify } from "@lib/utils/textConverter";
const { post } = Astro.props;
const { Content } = await post.render();
const { title, categories, date } = post.data;
---

<section class="section">
  <div class="container">
    <div class="row px-3">
      <div class="mx-auto lg:col-10">
        <div
          class="rounded-xl px-9 py-12 md:p-[60px]"
          role="main"
          itemprop="mainEntityOfPage"
          itemscope="itemscope"
          itemtype="https://schema.org/Blog"
        >
          <article
            itemscope="itemscope"
            itemtype="https://schema.org/BlogPosting"
            itemprop="blogPost"
          >
            <h1 itemprop="headline" set:html={markdownify(title)} />
            <ul
              class="mb-8 mt-4 flex flex-wrap items-center space-x-3 text-text"
            >
              <li>
                <time datetime={dateFormat(date)} itemprop="datePublished"
                  >{dateFormat(date, "DDD")}</time
                >
                <li>
                  <ul>
                    {
                      categories.map((category: string) => (
                        <li class="inline-block mr-2">
                          <a
                            href={`/categories/${slugify(category)}`}
                            class="rounded-lg bg-primary bg-opacity-20 px-2.5 py-0.5 text-primary transition hover:bg-primary hover:text-white"
                          >
                            {humanize(category)}
                          </a>
                        </li>
                      ))
                    }
                  </ul>
                </li>
              </li>
              <div
                class="content blog-article mb-16 text-left"
                itemprop="articleBody"
              >
                <Content />
                <!-- <Markdown content={post.body} components={shortcodes} /> -->
              </div>
            </ul>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
