---
import dateFormat from "@lib/utils/dateFormat";
import { humanize, markdownify, slugify } from "@lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";

type Props = { post: CollectionEntry<"posts"> };
const { post } = Astro.props;
const { Content } = await post.render();
const { title, categories, date } = post.data;
---

<section class="section">
  <div class="container">
    <div class="sub-container">
      <div class="mx-auto lg:col-10">
        <div
          class="break-words py-8 md:p-[60px]"
          role="main"
          itemprop="mainEntityOfPage"
          itemscope="itemscope"
          itemtype="https://schema.org/Blog"
        >
          <article
            itemscope="itemscope"
            itemtype="https://schema.org/BlogPosting"
            itemprop="blogPost"
          >
            <h1 itemprop="headline" set:html={markdownify(title)} />
            <ul
              class="mb-8 mt-4 inline-flex flex-wrap items-center gap-x-3 gap-y-1 text-text dark:text-text-dark"
            >
              <li class="flex flex-wrap items-center">
                <svg
                  class="mr-2"
                  stroke="currentColor"
                  fill="currentColor"
                  stroke-width="0"
                  viewBox="0 0 24 24"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    d="M19 4h-3V2h-2v2h-4V2H8v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zM5 20V7h14V6l.002 14H5z"
                  ></path><path
                    d="m15.628 12.183-1.8-1.799 1.37-1.371 1.8 1.799zm-7.623 4.018V18h1.799l4.976-4.97-1.799-1.799z"
                  ></path></svg
                >
                <time datetime={dateFormat(date)} itemprop="datePublished"
                  >{dateFormat(date, "DDD")}</time
                >
                <li>
                  <ul>
                    {
                      categories.map((category: string) => (
                        <li class="mr-2 inline-block">
                          {/* prettier-ignore */}
                          <a href={`/categories/${slugify(category)}`} class="category">{humanize(category)}</a>
                        </li>
                      ))
                    }
                  </ul>
                </li>
              </li>
              <div
                class="content blog-article mb-16 text-left"
                itemprop="articleBody"
              >
                <Content />
                {/* <Markdown content={post.body} components={shortcodes} /> */}
              </div>
            </ul>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
