---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import Post from "@layouts/partials/Post.astro";
import PostList from "@layouts/PostList.astro";
import Categories from "@layouts/components/Categories.astro";
import { getCollection } from "astro:content";
import { sortByDate } from "@lib/utils/sortFunctions";
import type { GetStaticPathsOptions, Page } from "astro";
import type { CollectionEntry } from "astro:content";

export const getStaticPaths = async ({ paginate }: GetStaticPathsOptions) => {
  const posts = await getCollection("posts");
  const sortedPosts = sortByDate(posts);

  return paginate(sortedPosts, {
    pageSize: config.settings.pagination,
  });
};
interface PostPage extends Page {
  data: CollectionEntry<"posts">[];
}
type Props = { page: PostPage };
const { page } = Astro.props;
---

<Base title={`Page ${page.currentPage} of ${page.lastPage}`}>
  <PostList>
    {page.data.map((post) => <Post post={post} />)}
    <Pagination currentPage={page.currentPage} totalPages={page.lastPage} />
  </PostList>
  <section class="mb-14">
    <Categories />
  </section>
</Base>
